<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
    <p class="contentLabel">
        <label>Ваше email</label>                       
        <input type="text" id="username" name="username" required="required" class="inputFormEnter span6" />
    </p>   
    <div>           
        <button type="submit" class="btnEnter">Отправить</button>
    </div>
</form>