<center>
	{% trans_default_domain 'FOSUserBundle' %}
	<h2 class="titleRegistrationCompany">Форма изменения пароля</h2>
    <br>
	<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="bttn addPhotoBtn" />
	    </div>
	</form>
</center>
