{% extends 'StoContentBundle::layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-about-project.css') }}">
{% endblock %}

{% block pageTitle %}
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">500</h1>
        </div>
    </div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
<section class="contentMain  row">
    <div class="content">
        <h1 class="titleH1">Страница временно недоступна</h1>
        <p>Если вы видите это сообщение, значит у нас неполадки в системе, но наши технические специалисты уже работают над этим, попробуйте зайти позднее, или свяжитесь с техподдержкой.</p>
    </div>
</section>
{% endblock %}