{% extends 'StoContentBundle::layout.html.twig' %}

{% block content %}
<section class="contentMain  row">
    <div class="content">
        <p class="infoText">ERROR!</p>
    </div>
</section>
{% endblock %}