{% extends 'StoContentBundle::layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-about-project.css') }}">
{% endblock %}

{% block pageTitle %}
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">404</h1>
        </div>
    </div>
{% endblock %}

{% block search %}{% endblock %}
{% block signup %}{% endblock %}

{% block content %}
<section class="contentMain  row">
    <div class="content">
        <h1 class="titleH1">Сожалеем, но запрашиваемая вами страница не найдена :-(</h1>
        <p class="infoText">Возможно она была удалена или ее никогда не существовало на сервере.</p>
        <p class="infoText">Воспользуйтесь <a href="{{ path('_index') }}">данной ссылкой</a> для перехода на главную страницу.</p>
    </div>
</section>
{% endblock %}

{% block modal_windows %}{% endblock %}