@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?19321128');
  src: url('../fonts/fontello.eot?19321128#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?19321128') format('woff'),
       url('../fonts/fontello.ttf?19321128') format('truetype'),
       url('../fonts/fontello.svg?19321128#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19321128#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-b4c-youtube:before { content: '\55'; } /* 'U' */
.icon-b4c-home:before { content: '\e801'; } /* '' */
.icon-b4c-star:before { content: '\2605'; } /* '★' */
.icon-b4c-star-empty:before { content: '\2606'; } /* '☆' */
.icon-b4c-flag:before { content: '\2691'; } /* '⚑' */
.icon-b4c-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-b4c-edit:before { content: '\270d'; } /* '✍' */
.icon-b4c-tv:before { content: '\e003'; } /* '' */
.icon-b4c-user-add:before { content: '\e700'; } /* '' */
.icon-b4c-eye:before { content: '\e70a'; } /* '' */
.icon-b4c-tag:before { content: '\e70c'; } /* '' */
.icon-b4c-tags:before { content: '\e70d'; } /* '' */
.icon-b4c-trash:before { content: '\e729'; } /* '' */
.icon-b4c-restaurant:before { content: '\e832'; } /* '' */
.icon-b4c-spin:before { content: '\e834'; } /* '' */
.icon-b4c-toilet:before { content: '\e83b'; } /* '' */
.icon-b4c-garage:before { content: '\e800'; } /* '' */
.icon-b4c-firefox:before { content: '\e840'; } /* '' */
.icon-b4c-chrome:before { content: '\e841'; } /* '' */
.icon-b4c-ie:before { content: '\e843'; } /* '' */
.icon-b4c-star-half:before { content: '\f022'; } /* '' */
.icon-b4c-chat:before { content: '\f03d'; } /* '' */
.icon-b4c-tasks:before { content: '\f0ae'; } /* '' */
.icon-b4c-money:before { content: '\f0d6'; } /* '' */
.icon-b4c-sitemap:before { content: '\f0e8'; } /* '' */
.icon-b4c-coffee:before { content: '\f0f4'; } /* '' */
.icon-b4c-circle-empty:before { content: '\f10c'; } /* '' */
.icon-b4c-circle:before { content: '\f111'; } /* '' */
.icon-b4c-facebook:before { content: '\f301'; } /* '' */
.icon-b4c-twitter:before { content: '\f303'; } /* '' */
.icon-b4c-icq:before { content: '\f304'; } /* '' */
.icon-b4c-yandex:before { content: '\f306'; } /* '' */
.icon-b4c-github:before { content: '\f308'; } /* '' */
.icon-b4c-googleplus:before { content: '\f309'; } /* '' */
.icon-b4c-vkontakte:before { content: '\f30a'; } /* '' */
.icon-b4c-skype:before { content: '\f30b'; } /* '' */
.icon-b4c-odnoklassniki:before { content: '\f30d'; } /* '' */
.icon-b4c-linkedin:before { content: '\f31b'; } /* '' */
.icon-b4c-comment:before { content: '\f4ac'; } /* '' */
.icon-b4c-picture:before { content: '🌄'; } /* '\1f304' */
.icon-b4c-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-b4c-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-b4c-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-b4c-user:before { content: '👤'; } /* '\1f464' */
.icon-b4c-users:before { content: '👥'; } /* '\1f465' */
.icon-b4c-credit-card:before { content: '💳'; } /* '\1f4b3' */
.icon-b4c-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-b4c-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-b4c-book:before { content: '📕'; } /* '\1f4d5' */
.icon-b4c-phone:before { content: '📞'; } /* '\1f4de' */
.icon-b4c-signal:before { content: '📶'; } /* '\1f4f6' */
.icon-b4c-truck:before { content: '🚚'; } /* '\1f69a' */
