{% extends 'StoContentBundle::layout.html.twig' %}

{% block title %}Профиль пользователя &middot; {{ app.user.username }} {% endblock %}
{% block header %}Профиль пользователя - {{ app.user.username }}</h4>{% endblock %}

{% block content_tag 'id="content" class="container"' %}

{% block content %}
{% include "StoUserBundle:Profile:edit_content.html.twig" %}
{% endblock %}
