<div class="hide" id="home_compalies" style="position: absolute; top: 155px; left: 0px; width:25%; background-color: white; border: 1px solid gray; padding: 10px 20px; height:740px; overflow-y:scroll;">
</div>
