<div class="contentRight">
    <form action method="post" class="inputTypeForm" id="advanced-search-form">
        <p class="contentRightItem">
            <label for="typeCompany">Тип компании</label>
        </p>
        <div class="basket__cont__body__bottom__paper">
            <div class="lineForm">
                {{ form_widget(form.companyType) }}
            </div>
        </div>
        <p class="contentRightItem">
            <label for="addtypeCompany">Подтип компании</label>
        </p>
        <div class="basket__cont__body__bottom__paper">
            <div class="lineForm">
                {{ form_widget(form.subCompanyType) }}
            </div>
        </div>
        <p class="contentRightItem">
            <label for="inputBrandField">Специализация на марке</label>
        </p>
        <div class="basket__cont__body__bottom__paper" style="float: none; margin-bottom: 30px;">
            <div class="lineForm">
                {{ form_widget(form.auto) }}
            </div>
        </div>
        <div class="reitingSlyder">
            <p class="contentAmount">
                <span id="lableAmount" for="amount">Минимальный рейтинг:</span>
                <input type="text" id="amount" data-serarch-form="rating" name="rating" />
            </p>
            <div id="slider-range-max"></div>
            <span class="indexSlyderLeft">1</span>
            <span class="indexSlyderRight">10</span>
        </div>
        <p class="contentRightItem">
            <label>Время работы</label>
        </p>
        <ul class="btnFiltr-group">
            <li><input id="CheckBox1" class="checkBox" type="checkbox" data-serarch-form="24hours" /><label class="btnFiltr btnFiltrFirst" for="CheckBox1">24 часа</label></li>
            <li><input id="CheckBox2" class="checkBox" type="checkbox" data-serarch-form="late" /><label class="btnFiltr" for="CheckBox2">До поздна</label></li>
            <li><input id="CheckBox3" class="checkBox" type="checkbox" name="weekends"/><label class="btnFiltr btnFiltrLast" for="CheckBox3">Выходные</label></li>
        </ul>
        <p class="contentRightItem">
            <label>Дополнительные услуги</label>
        </p>
        <ul class="btnFiltr-group dop">
            <li>
                <input id="CheckBox4" class="checkBox" type="checkbox" data-serarch-form="evaquate" />
                <label class="btnFiltr btnFiltrFirst" for="CheckBox4">
                    <i class="iconDopWork iconevacuation" label="Эвакуатор"></i>
                </label>
            </li>
            <li>
                <input id="CheckBox5" class="checkBox" type="checkbox" data-serarch-form="wifi" />
                <label class="btnFiltr" for="CheckBox5">
                    <i class="iconDopWork iconwifi" label="WiFi"></i>
                </label>
            </li>
            <li>
                <input id="CheckBox6" class="checkBox" type="checkbox" data-serarch-form="tv" />
                <label class="btnFiltr" for="CheckBox6">
                    <i class="iconDopWork iconotdyh" label="Телевизор"></i>
                </label
            </li>
            <li>
                <input id="CheckBox7" class="checkBox" type="checkbox" data-serarch-form="coffee" />
                <label class="btnFiltr" for="CheckBox7">
                    <i class="iconDopWork iconkofe" label="Кофе"></i>
                </label>
            </li>
            <li>
                <input id="CheckBox8" class="checkBox" type="checkbox" data-serarch-form="credit-card"  />
                <label class="btnFiltr" for="CheckBox8">
                    <i class="iconDopWork iconcard" label="Кредитные карты"></i>
                </label>
            </li>
            <li>
                <input id="CheckBox9" class="checkBox" type="checkbox" data-serarch-form="restaurant" />
                <label class="btnFiltr btnFiltrLast" for="CheckBox9">
                    <i class="iconDopWork iconcafe" label="Кафе"></i>
                </label>
            </li>
        </ul>
        <p class="contentRightItem labelCheckBox">
            <span class="checkBox__autograf__wrap">
                <input id="checkBox__autograf1" type="checkbox" value="off" data-serarch-form="deals">
                Только с акциями
            </span>
        </p>
        <input type="hidden" name="responce-type" data-serarch-form="responce-type" value="json">
        <p class="cleanSearch secondaryLink" id="cleanSearch">Очистить поиск</p>
    </form>
</div>
<script>
    (function(){$('.chzn-select').chosen();})();
</script>
