<div class="contentRight">
    <form action method="post" class="inputTypeForm" id="advanced-search-form">
        <div class="advancedSearchElement">
            <p class="contentRightItem">
                <label for="typeCompany">Тип компании</label>
            </p>
            <div class="basket__cont__body__bottom__paper">
                <div class="lineForm">
                    {{ form_widget(form.companyType) }}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div id="subCompanyTypeWrapper" class="subCompanyTypeWrapper advancedSearchElement">
            <p class="contentRightItem">
                <label for="addtypeCompany">Подтип компании</label>
            </p>
            <div class="basket__cont__body__bottom__paper">
                <div class="lineForm">
                    {{ form_widget(form.subCompanyType) }}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="advancedSearchElement">
            <p class="contentRightItem">
                <label for="inputBrandField">Специализация на марке</label>
            </p>
            <div class="basket__cont__body__bottom__paper" style="float: none; margin-bottom: 30px;">
                <div class="lineForm">
                    {{ form_widget(form.auto) }}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="reitingSlyder">
            <p class="contentAmount">
                <span id="lableAmount" for="amount">Минимальный рейтинг:</span>
                <input type="text" id="amount" data-serarch-form="rating" name="rating" />
            </p>
            <div id="slider-range-max"></div>
            <span class="indexSlyderLeft">0</span>
            <span class="indexSlyderRight">10</span>
        </div>

        <p class="contentRightItem">
            <label>Время работы</label>
        </p>
        <ul class="btnFiltr-group">
            <li>
                <input id="CheckBox1" class="checkBox" type="checkbox" data-serarch-form="24hours" name="time[24hours]" {% if time['24hours'] is defined %}checked="checked"{% endif %}/>
                <label class="btnFiltr btnFiltrFirst {% if time['24hours'] is defined %}btnFiltrActive{% endif %}" for="CheckBox1">24 часа</label>
            </li>
            <li>
                <input id="CheckBox2" class="checkBox" type="checkbox" data-serarch-form="late" name="time[late]" {% if time.late is defined %}checked="checked"{% endif %}/>
                <label class="btnFiltr {% if time.late is defined %}btnFiltrActive{% endif %}" for="CheckBox2">До 21:00</label>
            </li>
            <li>
                <input id="CheckBox3" class="checkBox" type="checkbox" name="time[weekends]" {% if time.weekends is defined %}checked="checked"{% endif %}/>
                <label class="btnFiltr btnFiltrLast {% if time.weekends is defined %}btnFiltrActive{% endif %}" for="CheckBox3">Выходные</label>
            </li>
        </ul>

        <p class="contentRightItem">
            <label>Дополнительные услуги</label>
        </p>
        <ul class="btnFiltr-group dop">
            <li>
                <input {% if services.evaquate is defined %}checked="checked"{% endif %} id="CheckBox4" class="checkBox" type="checkbox" data-search-form="evaquate" name="additional_services[evaquate]"/>
                <label class="btnFiltr {% if services.evaquate is defined %}btnFiltrActive{% endif %} btnFiltrFirst" for="CheckBox4">
                    <i class="iconDopWork iconevacuation" title="Эвакуатор"></i>
                </label>
            </li>
            <li>
                <input {% if services.wifi is defined %}checked="checked"{% endif %} id="CheckBox5" class="checkBox" type="checkbox" data-search-form="wifi" name="additional_services[wifi]"/>
                <label class="btnFiltr {% if services.wifi is defined %}btnFiltrActive{% endif %}" for="CheckBox5">
                    <i class="iconDopWork iconwifi" title="WiFi"></i>
                </label>
            </li>
            <li>
                <input {% if services.tv is defined %}checked="checked"{% endif %} id="CheckBox6" class="checkBox" type="checkbox" data-search-form="tv" name="additional_services[tv]"/>
                <label class="btnFiltr {% if services.tv is defined %}btnFiltrActive{% endif %}" for="CheckBox6">
                    <i class="iconDopWork iconotdyh" title="Телевизор"></i>
                </label
            </li>
            <li>
                <input {% if services.coffee is defined %}checked="checked"{% endif %} id="CheckBox7" class="checkBox" type="checkbox" data-search-form="coffee" name="additional_services[coffe]"/>
                <label class="btnFiltr {% if services.coffe is defined %}btnFiltrActive{% endif %}" for="CheckBox7">
                    <i class="iconDopWork iconkofe" title="Кофе"></i>
                </label>
            </li>
            <li>
                <input {% if services.credit_card is defined %}checked="checked"{% endif %} id="CheckBox8" class="checkBox" type="checkbox" data-serarch-form="credit-card" name="additional_services[credit_card]"/>
                <label class="btnFiltr {% if services.credit_card is defined %}btnFiltrActive{% endif %}" for="CheckBox8">
                    <i class="iconDopWork iconcard" title="Кредитные карты"></i>
                </label>
            </li>
            <li>
                <input {% if services.cafe is defined %}checked="checked"{% endif %} id="CheckBox9" class="checkBox" type="checkbox" data-serarch-form="restaurant" name="additional_services[cafe]"/>
                <label class="btnFiltr {% if services.cafe is defined %}btnFiltrActive{% endif %} btnFiltrLast" for="CheckBox9">
                    <i class="iconDopWork iconcafe" title="Кафе"></i>
                </label>
            </li>
        </ul>
        <p class="contentRightItem labelCheckBox">
            <span class="checkBox__autograf__wrap">
                <input id="checkBox__autograf1" type="checkbox" data-serarch-form="deals" name="deals">
                Только с акциями
            </span>
        </p>
        <p class="cleanSearch secondaryLink" id="cleanSearch">Очистить поиск</p>
    </form>
</div>
