{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title company.name %}

{% block content %}
    <div class="row-fluid">
        <section class="container">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#information">Информация</a></li>
                <li><a data-toggle="tab" href="#feetbacks">Отзывы</a></li>
                <li><a data-toggle="tab" href="#deals">Акции</a></li>
                <li><a data-toggle="tab" href="#blog">Блог</a></li>
                <li><a data-toggle="tab" href="#question">Вопросы</a></li>
            </ul>
        </section>
        <section class="tab-content container">
            <div class="tab-pane active" id="information">
                {% include 'StoContentBundle::Company/tabs/information.html.twig' %}
            </div>
            <div class="tab-pane" id="feetbacks">
                {% include 'StoContentBundle::Company/tabs/feetbacks.html.twig' %}
            </div>
            <div class="tab-pane" id="deals">
                {% include 'StoContentBundle::Company/tabs/deals.html.twig' %}
            </div>
            <div class="tab-pane" id="blog">
                {% include 'StoContentBundle::Company/tabs/blog.html.twig' %}
            </div>
            <div class="tab-pane" id="question">
                {% include 'StoContentBundle::Company/tabs/question.html.twig' %}
            </div>
        </section>
    </div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
    $('[data-page]').live('click', function(){
        var page = parseInt($(this).attr('rel'))+1;
        var path = $(this).attr('href');
        $(this).parent('div.span12').parent('div.row-fluid').remove();
        $('[data-page]').attr('rel', page+1);
        $.ajax({
            type: 'POST',
            url: path+"?page="+page,
            success: function(html) {
                console.log(html);
                $('[data-content]').append(html);

            },
            error: function(e) {
                console.log(e.message);
            }
        });
        return false;
    });
</script>
{% endblock %}
