{% set itemClass = 'servisesItem' %}
{% if specializations %}
{% for item in specializations %}
    {% if loop.first %}
        <ul class="services">
    {% endif %}

    {% if loop.index == 4 %}
        </ul>
        <ul class="servicesAdd">
        {% set itemClass = 'servisesAddItem' %}
    {% endif %}

    <li class="{{ itemClass }}">
        <span class="iconProfilCompany {{ item.iconNameSmall }}"></span>
        {%- if loop.index < 4 %}
            {{ item.name }}
        {% endif -%}
    </li>

    {% if loop.last %}
        </ul>
    {% endif %}
{% endfor %}
{% endif %}
