{% if workingTime %}
    {% for item in workingTime %}
        <span>{{ item.fromTime|date('H:i') }}-{{ item.tillTime|date('H:i') }} ({{ item.days | working_time_days_to_string }})</span>
        {% if not loop.last %}<br>{% endif %}
    {% endfor %}
{% endif %}
