<div class="leftContent">
    {% render controller('StoContentBundle:Feedback:sortAndFilterForm') %}
    <p class="showTotal">
        Показано: <span class="parametShow" id="showedFeedbacks">{{ feedbacks | length }}</span> отзыва
    </p>
    <input type="hidden" data-type="company" id="sortDataType">
    <div data-x-container="feedbacks" id="data-x-container-feedbacks">
        {{ render(controller('StoContentBundle:Feedback:companyFeedbacks', {'id':company.id})) }}
    </div>
    <script>function getEntityId(){ return {{ company.id }}; }</script>
</div>
<div class="rightContent">
<a href="{{ path('content_company_feedbacks_add', { 'id' : company.id }) }}" class="addPhotoBtn bttn" {% if not app.user %}data-reveal-id="not-loged-in"{% endif %}>Оставить отзыв<i class="writeReview"></i></a>
</div>
