<div class="row-fluid">
    <div class="span8">
    </div>
    <div class="span4">
        <div class="thumbnail">
            <img src="http://placehold.it/240x400">
        </div>
    </div>
</div>
