<div id="registrationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Регистрация на Best4Car</h3>
    </div>
    <div class="modal-body">
        <p>Кем Вы хотите зарегистрироваться?</p>
        <a data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#registrationCarModal" id="registration-car-owner-link" href="{#{ path('fos_user_registration_register') }#}" class="btn">Автовладельцем</a><br />
        <a href="{{ path('registration_company_owner') }}" class="btn">Представителем компании</a><br />
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" class="btn"><i class="icon-b4c-vkontakte"></i>Регистрация</a>
    </div>
</div>
