{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/styleCompany.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/style-registration-company.css') }}"/>
{% endblock %}

{% block title %}Востановление пароля{% endblock %}

{% block content %}
    <section class="contentMain  row">          
        <div class="content">
            {% block fos_user_content %}
                {% include "StoUserBundle:Resetting:reset_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock content %}
