<div id="modification-choose-modal" class="reveal-modal">
    <a href="#" class="close-reveal-modal closeModal"></a>

    <div class="bottomContent modificationBottomContent">
        <a href="#" class="closeModal btnBottomContent addPhotoBtn">Сохранить</a>
    </div>
</div>
