{% for car in cars %}
	
{% else %}
Вы еще ничего не рассказали о своём гараже
<a href="{{ path('garage_new') }}" class="addPhotoBtn bttn addCarBtn" style="margin-top:10px;">Добавить автомобиль<i class="plusIconWhite"></i></a>
{% endfor %}