{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, session_flash %}

{% block html_tag %}
<html lang="ru">
{% endblock %}

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block head_style %}
{% stylesheets filter='cssrewrite'
    'bundles/stocore/css/bootstrap.css'
    'bundles/stocore/css/font-awesome.css'
    'bundles/stoadmin/css/styles.css'
    'bundles/stocore/css/bootstrap-responsive.css'
    'bundles/stocore/css/select2.css'
%}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block head_script %}
{% javascripts
    'http://code.jquery.com/jquery-1.8.2.min.js'
%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
{% endjavascripts %}
{% endblock %}
        <title>BEST4CAR &middot; Панель управления &middot; {% block title 'BEST4CAR' %}</title>
    </head>
{% endblock %}

{% block body_tag %}
<body>
{% endblock %}

{% block body %}
        <div id="wrap">
{% block navbar_container %}
{% block navbar %}{{ mopa_bootstrap_navbar('adminNavbar') }}{% endblock %}
{% endblock %}
            <div class="row-fluid">
                <div class="container">
                {% block header %}{% endblock %}
                <hr style="margin:0;">
                </div>
            </div>
            <div {% block content_tag 'class="container"' %} >
                {% block content %}{% endblock %}
            </div>
            <div id="push"></div>
        </div>
{% block footer %}
<div id="footer">
    <div class="container">
        <p class="muted credit">
            &copy; 2013, BEST4CAR
        </p>
    </div>
</div>
{% endblock %}
{% block foot_script %}
{% javascripts
    'bundles/stocore/js/bootstrap.js'
    'bundles/stocore/js/holder.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% endblock %}
