<div class="leftContent">
    <div class="contentSelect">
        <div class="assortSelect">
            <span>Сортировать по:</span>
            <div class="parametrAssort">
                <div class="lineForm">
                    <select class="styled1">
                        <option value="">рейтингу</option>
                        <option value="">дате</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="showSelect">
            <span>Показать по:</span>
            <div class="parametrAssort">
                <div class="lineForm">
                    <select class="styled1">
                        <option value="">все</option>
                        <option value="">положительные</option>
                        <option value="">отрицательные</option>
                        <option value="">полезные</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <p class="showTotal">
        Показано:
        <span class="parametShow">153</span>
        отзыва
    </p>
<script type="text/javascript">
                    $(document).ready(function() {
                        $('.collapsCont').hide();
                        $('.collapsText').click(function() {
                            $('.collapsCont').show();
                            $('.collapsText').hide();
                        });
                    });
</script>
<script type="text/javascript">
                    $(document).ready(function() {
                        $('.popUpPrimary').hide();
                        $('.popUpPrimary li').click(function() {
                            $('.popUpPrimary').hide();
                            $('.complainAlert').hide();
                        });
                    });
</script>
    <div data-x-container="feedbacks">
        {{ render(controller('StoContentBundle:Deal:feedbacks', {'id':deal.id})) }}
    </div>
    <script>function getEntityId(){ return {{ deal.id }}; }</script>
    <input type="hidden" data-type="deal">
</div>
