<div class="leftContent">
    {% render controller('StoCoreBundle:Feedback:sortAndFilterForm') %}
    <p class="showTotal">
        Показано: <span class="parametShow" id="showedFeedbacks">0</span> отзыва
    </p>
    <input type="hidden" data-type="deal" id="sortDataType">
    <div data-x-container="feedbacks" id="data-x-container-feedbacks">
        {{ render(controller('StoContentBundle:Feedback:dealFeedbacks', {'id':deal.id})) }}
    </div>
    <script>function getEntityId(){ return {{ deal.id }}; }</script>
</div>
