<div class="row-fluid">
    <div class="span8" data-content="feedbacks">
        <div class="span12">
            <div class="span4">
                <ul class="nav nav-tabs">
                    <li><small>Сортировать по:</small></li>
                    <li class="active">
                        <a href="#" data-tabs="sort-date">дате</a>
                    </li>
                    <li><a href="#" data-tabs="sort-rating">рейтингу</a></li>
                </ul>
            </div>
            <div class="span8">
                <ul class="nav nav-tabs">
                    <li><small>Показывать:</small></li>
                    <li class="active">
                        <a href="#" data-tabs="filter-all">все</a>
                    </li>
                    <li><a href="#" data-tabs="filter-positive">положительные</a></li>
                    <li><a href="#" data-tabs="filter-negative">отрицательные</a></li>
                    <li><a href="#" data-tabs="filter-useful">полезные</a></li>
                </ul>
            </div>
            <hr />
        </div>
        <div data-x-container="feedbacks">
            {{ render(controller('StoContentBundle:Deal:feedbacks', {'id':deal.id})) }}
        </div>
        <script>function getEntityId(){ return {{ deal.id }}; }</script>
                    <input type="hidden" data-type="deal">
    </div>
    <div class="span4">
        <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="btn btn-large" style="width:200px;margin-top:10px;">Оставить отзыв <span class="pull-right">{{ deal.feedbacks | length }}</span></a>
        <a href="#"><img src="" style="background: #000000; width:240px; height:400px; margin-top: 10px;" /></a>
    </div>
</div>
