{% extends 'StoContentBundle:Page:show.html.twig' %}

{% block page_content %}
<p class="infoText">Сервис <strong>best4car.ru</strong> создан автомобилистами для автомобилистов! Мы - создатели сервиса, также как и вы хотим обслуживать наши автомобили в проверенных компаниях, отвечающих нашим запросам по перечню предоставляемых услуг, уровню цен и, конечно же, качеству обслуживания!</p>

<p class="infoText">Порой поиск нужной компании становится весьма затруднительной задачей! Хорошо если на помощь приходят друзья или товарищи по авто-клубу, однако не всегда такую помощь можно получить оперативно - приходится просматривать огромное количество отзывов на форумах, в социальных сетях, искать нужную информацию на сайтах самих компаний, сравнивать, опять читать отзывы... Согласитесь, знакомая ситуация? Особенно часто с подобными проблемами выбора мы сталкиваемся, когда приобретаем новый автомобиль или занимаемся обслуживанием авто кого-то из членов семьи. Однако, даже владея автомобилем несколько лет и общаясь с другими автолюбителями на различных интернет-ресурсах, мы далеко не всегда можем однозначно ответить на вопрос - где лучше сделать кузовной ремонт, заменить лобовое стекло, или отремонтировать коробку передач!</p>

<p class="infoText">Именно поэтому мы решили создать сервис, который станет <strong>федеральным рейтингом авто-компаний</strong>! Амбициозная и сложная задача, но нам нравится решать сложные задачи!</p>

<p class="infoText"><strong>Простой и удобный поиск</strong> сервиса с возможностью фильтрации результатов позволит вам максимально быстро подобрать нужную авто-компанию - СТО, автосалон, шиномонтаж, магазин или даже автошколу. Ключевым критерием для выбора той или иной компании является <strong>рейтинг</strong>, формируемый на основе отзывов других пользователей. Мы очень внимательно подошли к выбору критериев для расчета рейтинга компаний и делаем основной упор в этом вопросе на оценках наиболее активной части авто-сообщества - представителей <strong>авто-клубов</strong>.</p>

<p class="infoText">В разделе <a href="{{ path('content_deals') }}">Акции</a> вы также сможете просматривать информацию об актуальных акциях и специальных предложениях компаний вашего региона, а <a href="#" data-reveal-id="registration-popup">регистрация на сервисе</a> позволит сделать отображение этой информации максимально адаптированным к вашим запросам!</p>

<p class="infoText">Хотите оставить отзыв о компании, но не нашли ее в <a href="{{ path('_index') }}">нашем каталоге</a>? Просто <a href="mailto:feedback@best4car.ru">напишите нам</a> ее название и координаты и мы постараемся добавить ее в самое ближайшее время!</p>

<p class="infoText">Мы приглашаем компании, предоставляющие услуги для автомобилистов, к сотрудничеству! Пройдя <a href="#" data-reveal-id="registration-popup">несложную процедуру регистрации</a> - вы получите возможность рассказать о себе миллионам автолюбителей! Сервис <strong>best4car.ru</strong> станет для вас незаменимым инструментом для получения обратной связи с вашими клиентами, рекламы своих услуг и актуальных предложений, повышения лояльности клиентов, контроля работы персонала.</p>

<p class="infoText">Если у вас появятся какие-либо вопросы или идеи и предложения по дальнейшему развитию сервиса - обязательно напишите нам на email <a href="mailto:feedback@best4car.ru">feedback@best4car.ru</a>.</p>

<p class="infoTextItalic"><i>С уважением, создатели <a href="{{ path('_index') }}">best4car.ru</a> (ООО “Авто Эксперт”)</i></p>
<p class="infoTextItalic"><i>Колесников Константин, <a href="mailto:Колесников%20Константин%20&lt;kolesnikov@best4car.ru&gt;">kolesnikov@best4car.ru</a></i></p>
<p class="infoTextItalic"><i>Саенко Павел, <a href="mailto:Саенко%20Павел%20&lt;saenko@best4car.ru&gt;">saenko@best4car.ru</a></i></p>
{% endblock %}
