{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block content %}
<center><h3>Приглашаем к сотрудничеству!</h3></center>

<p align="justify">Уважаемые руководители, учредители и сотрудники компаний, предоставляющих товары и услуги для автомобилей и автомобилистов.</p>

<p align="justify">Приглашаем вас и вашу компанию в авто-каталог на сервисе <strong><a href="{{ path('root') }}">best4car.ru</a></strong>! Основная функция сервиса - максимально удобный и простой поиск информации об услугах для автомобилистов. Здесь вы сможете разместить информацию о вашей фирме - выбрать направление деятельности, указать основные и дополнительные услуги, которые вы предоставляете, при желании подчеркнув свои конкурентные преимущества и отметив только те марки или модели автомобилей, которые соответствуют вашему профилю деятельности.</p>

<p align="justify">Используя возможности сервиса, вы сможете установить и укрепить связь с вашими клиентами - как существующими, так и потенциальными, следить за качеством обслуживания клиентов и оперативно реагировать на несоблюдение принятых в вашей компании стандартов качества. Это позволит вам повысить лояльность своих клиентов и качество работы персонала.</p>

<p align="justify">Одним из доступных на сервисе инструментов привлечения клиентов является размещение данных о проводимых вашей компанией специальных акциях. Отображение информации об акциях на страницах сервиса будет релевантно поисковым запросам пользователей, а также информации о принадлежащих пользователям автомобилях. Таким образом, ваши предложения будут максимально адресными!</p>

<p align="justify">Предлагаем вам пройти несложную <a href="{{ path('registration_company_owner') }}">процедуру регистрации</a> и заполнить карточку вашей компании. Если у вас появятся какие-либо вопросы или вам требуется помощь в формировании карточки компании или размещении акций - пишите нам на адрес <a href="mailto:feedback@best4car.ru">feedback@best4car.ru</a>. Мы также с радостью выслушаем ваши идеи и предложения по развитию сервиса.</p>

<p><center><i>С уважением, создатели <a href="{{ path('root') }}">best4car.ru</a> (ООО “Авто Эксперт”)</i></center></p>
<p><center><i>Колесников Константин, <a href="mailto:Колесников%20Константин%20&lt;kolesnikov@best4car.ru&gt;">kolesnikov@best4car.ru</a></i></center></p>
<p><center><i>Саенко Павел, <a href="mailto:Саенко%20Павел%20&lt;saenko@best4car.ru&gt;">saenko@best4car.ru</a></i></center></p>
{% endblock %}
