{% extends 'StoContentBundle:Page:show.html.twig' %}

{% block page_content %}
<p class="infoText">Друзья! Данный раздел мы планируем полностью посвятить авто-клубному движению. Здесь будет представлена общая информация по автоклубам в выбранном регионе (городе), календарь клубных и межклубных мероприятий, контакты администрации клубов и другая полезная информация.</p>

<p class="infoText">Если у вас есть предложения по структуре и наполнению данного раздела – поделитесь с нами – <a href="mailto:feedback@best4car.ru">feedback@best4car.ru</a>.</p>
{% endblock %}
