{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block content %}
<div class="row-fluid">
    <div class="span12"><h3>Обратная Связь</h3></div>
</div>

<div class="tab-content">
    <form class="well span8">
      <div class="row">
            <div class="span3">
                <label>Ваше имя</label>
                <input type="text" class="span3" placeholder="Ваше имя" name="name" {% if app.user %}value="{{ app.user.firstName }} {{ app.user.lastName }}"{% endif %}>
                <label>Город</label>
                <input type="text" class="span3" placeholder="Город" {% if app.user %}value="{{ app.user.city.name }}"{% endif %}>
                <label>Email Address</label>
                <input type="text" class="span3" placeholder="Your email address"  {% if app.user %}value="{{ app.user.email }}"{% endif %}>
                <label>Тема сообщения</label>
                <select id="subject" name="subject" class="span3">
                    <option value="na" selected="">Выберите:</option>
                    <option value="error">Сообрщение об ошибке</option>
                    <option value="suggestions">Пожелание</option>
                </select>
            </div>
            <div class="span5">
                <label>Сообщение</label>
                <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Отправить</button>
        </div>
    </form>
</div>

{% endblock %}
