{% extends 'StoContentBundle::layout.html.twig' %}

{% block title 'О проекте' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-about-project.css') }}">
{% endblock %}

{% block pageTitle %}
    <div class="back">
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">О проекте</h1>
        </div>
    </div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
<section class="contentMain  row">
    <div class="content">
        <p class="infoTextItalic">Вводный текст. Медиапланирование порождает конвергентный сегмент рынка, учитывая современные тенденции. Искусство медиапланирования, анализируя результаты рекламной кампании, концентрирует типичный пресс-клиппинг, не считаясь с затратами.</p>
        <p class="infoText">Нестандартный подход, как принято считать, довольно хорошо сбалансирован. Формат события довольно неоднозначен. Внутрифирменная реклама, как следует из вышесказанного, деятельно нейтрализует формат события, осознав маркетинг как часть производства.</p>
        <h1 class="titleH1">Заголовок первого уровня</h1>
        <p class="infoText">Нестандартный подход, как принято считать, довольно хорошо сбалансирован. Формат события довольно неоднозначен. Внутрифирменная реклама, как следует из вышесказанного, деятельно нейтрализует формат события, осознав маркетинг как часть производства.</p>
        <h2 class="titleH2">Заголовок второго уровня</h2>
        <p class="infoText">Нестандартный подход, как принято считать, довольно хорошо сбалансирован. Формат события довольно неоднозначен. Внутрифирменная реклама, как следует из вышесказанного, деятельно нейтрализует формат события, осознав маркетинг как часть производства.</p>
        <h2 class="titleH2">Пример оформления списков</h2>
        <ul class="list">
            <li class="listItem"><i class="subActiveI"></i>Элемент списка 1</li>
            <li class="listItem"><i class="subActiveI"></i>Элемент списка 2</li>
            <li class="listItem"><i class="subActiveI"></i>Элемент списка 3</li>
        </ul>
        <h2 class="titleH2">Пример оформления таблиц</h2>
        <div class="tableWrap">
            <table>
                <thead>
                <tr>
                    <td class="td1">ФИО</td>
                    <td class="td2">Стоимость</td>
                    <td class="td3"></td>
                    <td class="td4"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td1">Иванов И.И.</td>
                    <td class="td2">12345 руб.</td>
                    <td class="td3"></td>
                    <td class="td4"></td>
                </tr>
                <tr>
                    <td class="td1"></td>
                    <td class="td2"></td>
                    <td class="td3"></td>
                    <td class="td4"></td>
                </tr>
                <tr>
                    <td class="td1"></td>
                    <td class="td2"></td>
                    <td class="td3"></td>
                    <td class="td4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="titleH2">Картинка с подписью здесь</h2>
        <a class="imgLink" href="#"><img src="{{ asset('bootstrap/img/photo3.jpg') }}" alt="фото пользователя"></a>
        <span class="signature">Подпись к фотографии</span>
    </div>
</section>
{% endblock %}
