<div class="contentSelect">
    <div class="assortSelect">
        <span>Сортировать по:</span>
        <div class="parametrAssort">
            <div class="lineForm">
                {{ form_widget(sortForm.sort) }}
            </div>
        </div>
    </div>
    <div class="showSelect">
        <span>Показать:</span>
        <div class="parametrAssort">
            <div class="lineForm">
                {{ form_widget(filterForm.filter) }}
            </div>
        </div>
    </div>
</div>
