<!-- Modal -->
<div id="modalChooseCity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style="  width: 750px; margin-left: -375px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ваш город</h3>
    </div>
    <div class="modal-body">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li><a href="#tab1" data-toggle="tab">Loading....</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                       <p>This is content on tab1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- EOF Modal -->

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type: 'POST',
            url: "{{ path('get_user_city') }}",
            success: function(res) {
                $('#choice-city a').text(res.user_city);
            }
        });

        $('#choice-city > a').on("click", function() {
            $('#modalChooseCity').modal('toggle');
            $.getJSON(Routing.generate('api_country_all'))
            .done(function (countries) {
                var root = $('#modalChooseCity .tabbable ul');
                var tab_root = $('#modalChooseCity .tabbable .tab-content');
                root.empty(); // clear on each call - @TODO instead of clear - check for empty
                tab_root.empty();
                var frst_id = null;
                $.each(countries, function (index, country) {
                    if (index == 0)
                        frst_id = country.id;
                    root.append('<li><a href="#country-' + country.id  + '" id="a-country-' + country.id  + '" data-toggle="tab">' + country.name  + '</a></li>' );
                    tab_root.append( '<div class="tab-pane" id="country-' + country.id  + '">Loading...</div>' );
                });

                $('#modalChooseCity .tabbable ul li > a').on("click", function() {
                    var cid = this.id.split("-").pop();
                    $.getJSON(Routing.generate('api_city_all_by_country', { id: cid }))
                    .done(function (json) {
                        var coun_area = $('#country-' + cid);
                        coun_area.empty();

                        $.each(json, function (index, city) {
                            var img_src = (!city.image) ? "{{ asset('bundles/stocore/images/notimage.png') }}" : "/../{{ storage_path }}/company_icon/" + city.image;

                            coun_area.append(
                                '<p>'+
                                '<img src="' + img_src + '" style="width: 17px;height: 17px;">' +
                                '<a href="#city-' + city.id  + '" id="a-city-' + city.id  + '" class="city-link">' + city.name  + '</a></li></p>'
                            );
                        });
                    })
                    .fail(function (e) {
                        console.log(e.message);
                    });
                });

                $('#a-country-' + frst_id).click();
            })
            .fail(function (e) {
                console.log(e.message);
            });
        });

        $('a.city-link').live('click',function(){
            $('#choice-city a').html($(this).html());
            $.ajax({
                type: 'POST',
                url: "{{ url('city_ajax_save') }}?city="+$(this).html(),
                data: 'city/'+ $(this).html(),
                success: function(res) {
                    $('#modalChooseCity').modal('hide');
                },
                error: function(e){
                    console.log('error', e.message);
                }
            });

            return false;
        });
    });
</script>
